.calcBlock {
  width: 35%;
  height: 75%;
  justify-content: center;
  align-items: center;

  padding: 20px;
  background: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  min-width: 500px;
  gap: 20px;
}

.choosloan {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  min-width: 280px;
  min-height: 35px;
  & div:first-child {
    border-radius: 50px 0 0 50px;
  }
  & div:last-child {
    border-radius: 0 50px 50px 0;
  }
}

.loanOption {
  background-color: #f5f7fa;
  padding: 10px 20px;
  color: #607d8b;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 35px;
  min-width: 140px;
}
.loanOption.selected {
  background-color: #00bda0;
  color: white;
}

.loanOption:hover {
  background-color: #00bca1;
}
.result {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;

  div {
    display: flex;
    flex-direction: column;
    margin-inline: 15px;
    align-items: center;
    gap: 5px;

    p {
      margin: 0;
      font-size: 12px;
      font-weight: bold;
      color: #555;
    }

    span {
      margin: 0;
      font-size: 16px;
      font-weight: bold;
      color: #222;
    }
  }
}


.button {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  min-width: 385px;
  border-radius: 50px;
  min-height: 50px;

  button {
    padding: 10px 20px;
    min-width: 385px;
    min-height: 50px;
    font-size: 16px;
    color: #000;
    background-color: #FFD56A;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #ffcd4c;
    }
  }
}
